<ion-view view-title="Contact Us">
  <ion-content overflow-scroll="false">
               <ion-list>
                <ion-item class="item-divider">Mumbai</ion-item>
                <ion-item>
                
                   
                    Bluesys, </br>
                     3, Shivsmruti Building, N. M. Joshi Marg,<br>
                    Currey Road (W) Mumbai – 400013.<br>
                                      <div class="row">
                    <div class="col col-50"> <a class="button button-clear button-assertive   button-icon  icon ion-ios-telephone-outline"  ng-click="dialNumber('9167013959')" >9167013959</a> </div>                      <div class="col col-50"><a  class="button button-clear button-assertive   button-icon  icon ion-ios-telephone-outline"  ng-click="dialNumber('9819954989')"> 9819954989 </a></div>                      </div>
                </ion-item>
                
            </ion-list>
        </ion-content>
  
</ion-view>
