<ion-view view-title="KOT">
   <ion-nav-buttons side="right">
        <button class=" button button-icon icon ion-android-more-vertical" ng-click="showactions()"></button>
    </ion-nav-buttons>
  <ion-content overflow-scroll = "false">
    <form name="kotform" id="kotform" method="post">
  
   <ion-checkbox  ng-model="data.complementry" value="Complementry" name="complementry" ng-click="showComplementry(data.complementry)">Complementry</ion-checkbox>
   <ion-checkbox ng-if="(data.location.RoomService)==1" ng-model="data.roomservice" value="Roomservice" name="roomservice">Roomservice</ion-checkbox>
   <ion-checkbox  ng-if="(data.location.Conference)==1" value="Banquent" name="banquent">Banquent</ion-checkbox>
   
  
   <ion-checkbox ng-if="(data.location.TakeAway)==1" type="checkbox" value="takeaway" name="takeaway"> Take Away</ion-checkbox>
   <ion-checkbox ng-if="(data.location.TakeAway)==1" type="checkbox" name="hdelivery"> home Delivery</ion-checkbox>
   
   <div class='row'>
     <div class="col" >
	   <label class="item item-select">
		  <span class="input-select">Location </span>
              <select name="location" ng-model="data.location"  ng-options="location.LocationName for location in locations track by location.LocationCode">
			  
			  
			  </select>
		 </label>
		<label class="item item-select">
		  <span class="input-select">Captain  </span>
              <select name="location" ng-model="data.captain"  ng-options="captain.EmployeeName for captain in captains track by captains.EmployeeCode">
			  
			  
			  </select>
		 </label>
	   <label class="item item-select" >
		  <span class="input-select">Steward </span>
              <select name="location" ng-model="data.steward"  ng-options="steward.EmployeeName for steward in stewards track by steward.EmployeeCode">
			  
			  
			  </select>
		 </label>
	 </div>
     <div class="col" >
	  	 <label class="item item-input">
		  <span class="input-label">Table</span>
		  <input type="text" ng-model="data.tableNo" name="table" id="tabel" value ="" ng-keyup="timeout(data.tableNo)">
		  </label>
		   <label class="item item-input ">
		  <span class="input-label">Room</span>
		  <input type="text" ng-model="data.roomNo" name="room" id="room" ng-keyup="openModalroom(data.roomNo)">
		  </label>
		
		  
		  <label class="item item-input ">
		  <span class="input-label">KOT</span>
		  <input type="text"  ng-model="data.kotno" name="kot" id ="kot" value ="">
		  </label>
		  <label class="item item-input ">
		  <span class="input-label">Covers</span>
		  <input type="number" ng-model="data.covers" name="covers" id="covers" value ="">
		  </label>
	 </div>
   
   </div>
     <div class='row' ng-if="data.complementry">
     <div class="col" >
	   <label class="item item-select">
		  <span class="input-select">Employee </span>
              <select name="employe" ng-model="employe"  ng-options="employe.EmployeeName for employe in employes track by employe.EmployeeCode">
			  
			  
			  </select>
		 </label>
		<label class="item item-select">
		  <span class="input-select">Dept  </span>
              <select name="department" ng-model="department"  ng-options="department.DepartmentName for department in departments track by department.DepartmentCode">
			  
			  
			  </select>
		 </label>
	   
	 </div>
     <div class="col" >
	 <label class="item item-select">
		  <span class="input-select">Reason </span>
              <select name="reason" ng-model="data.reason"  ng-options="reason.Description for reason in reasons track by reason.ReasonCode">
			  
			  
			  </select>
		 </label>
	  	 <label class="item item-input">
		  <span class="input-label">Guest</span>
		  <input type="text" name="guest" id="guest" value ="">
		  </label>
		  
	 </div>
   
   </div>
    <div class='row' ng-if="data.roomservice">
     <div class="col" >
 	 <label class="item item-input">
		  <span class="input-label">Room No</span>
		  <input type="text" name="roomno" ng-model="data.roomno" id="roomno" value ="">
		  </label>
		   <label class="item item-input ">
		  <span class="input-label">Folio</span>
		  <input type="text" name="folio"  ng-model="data.folio" id="folio" value ="">
		  </label>
		  <label class="item item-input ">
		  <span class="input-label">Guest Name</span>
		  <input type="text" name="guestname"  ng-model="data.guestname" id ="guestname" value ="">
		  </label>
	 </div>
     <div class="col" >
	  	 <label class="item item-input">
		  <span class="input-label">Company Name</span>
		  <input type="text" name="cmpyname"   ng-model="data.cmpyname" id="cmpyname" value ="">
		  </label>
		   <label class="item item-input ">
		  <span class="input-label">Plan</span>
		  <input type="text" name="plan"  ng-model="data.plan" id="plan" value ="">
		  </label>
		  <label class="item item-input ">
		  <span class="input-label">Sp. Inst</span>
		  <input type="text" name="spInst"   ng-model="data.spInst" id ="spInst" value ="">
		  </label>
		
	 </div>
   
   </div>
   <div>
   <div class="row kotmenu">
   <div class="col cols"> Loc </div>
   <div class="col cols">Code </div>
   <div class="col cols">Menu Item </div>
   <div class="col cols"> Qty</div>
   <div class="col cols"> Rate</div>
   <div class="col cols"> Value</div>
   <div class="col cols"> Kot No</div>
   
  
   </div>
   <div class="row kotmenu" ng-repeat ="kotmenu in kotmenus"  on-hold="onHold($index)">
		   <div class="col cols">{{kotmenu.LocationCode}} </div>
		   <div class="col cols">{{kotmenu.MenuItemCode}} </div>
		   <div class="col cols">{{kotmenu.MenuItemName}} </div>
			 <div class="col cols"><input type="number" size="2" ng-model='qty[$index]' style="width: 90px;" ng-Change="addSum(qty[$index],$index)" ></div>
		   <div class="col cols"> {{kotmenu.Rate}}  <input type="hidden" name="rate[]" ng-model='rate[$index]' value="{{kotmenu.Rate}}" > </div>
		   <div class="col cols"> {{kotmenu.Rate * qty[$index]}} <input type="hidden"  name="amount[]"ng-model='amount[$index]' value="{{kotmenu.Rate * qty[$index]}}" ></div>
		   <div class="col cols">13</div>
   
  
   </div>
   </div>
	<div class="row kottotal" >
   <div class="col cols">Total Items </div>
   <div class="col cols"> {{kotmenus.length}}</div>
   <div class="col cols">Qty </div>
   <div class="col cols"> {{totalqty}} </div>
   <div class="col cols"> Total Amount</div>
   <div class="col cols"> {{totalSum}} </div>
   <div class="col cols"> [+] Taxex</div>
   
  
   </div>
   </form>
  </ion-content>
   <div class="float-button" ng-click="openModal()">
   <span class="height-fix">
    <a class="content">
      <i class="ion-ios-list-outline"> </i>
    </a>
    </span>
 </div>
</ion-view>
