
 <ion-view class="modal menumodal" on-swipe-down="closeModal()"  overflow-scroll = "false"  >
        <ion-header-bar class="bar bar-header bar-royal">
          <h1 class="title">Menus</h1>
                       <button class="button  buttons-right button-royal icon ion-close" ng-click="closeModal()"></button>
        </ion-header-bar>
    <ion-content overflow-scroll = "false">
	<label class="item item-select">
		     <span class="input-select">Location </span>
              <select name="location" ng-model="data.menulocation" ng-change="onLocactionChange(data.menulocation)">
			    <option value="{{data.location.MenuLocationCode1}}" ng-if="data.location.MenuLocationCode1">{{data.location.MenuLocationCode1}}</option>
			    <option value="{{data.location.MenuLocationCode2}}" ng-if="data.location.MenuLocationCode2">{{data.location.MenuLocationCode2}}</option>
			    <option value="{{data.location.MenuLocationCode3}}" ng-if="data.location.MenuLocationCode3">{{data.location.MenuLocationCode3}}</option>
			  
			  </select>
		    </label>
     <ion-scroll zooming="true"  direction="x" scrollbar-y="false" style=" height:auto" overflow-scroll = "false"  >
	      	   
              <div class="row">
             <div class="col cols menuCategories" ng-repeat="menuCategory in menuCategories" ng-click="getmenus(menuCategory.CategoryCode)">
			   {{menuCategory.CategoryName}}
			 </div>
			 </div>
			 
			 
			</ion-scroll>
			
			<div class="row" ng-repeat="menu in menus">
			    <div class="col cols menuitems" ng-repeat="menuItem in menu" ng-style="{'background-color':(menuItem.VegItem == 'N') ? 'rgba(243, 110, 79, 0.66)': 'rgba(26, 247, 26, 0.48)'}" ng-click="addTOkot(menuItem)" >{{menuItem.MenuItemName}}</div>
			 </div>
    </ion-content>
  </ion-view>
